<!DOCTYPE html>
<html>
<head>
  <title>Seu Projeto</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'sb-admin-2.min', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <%= javascript_include_tag 'sb-admin-2.min', 'data-turbolinks-track': 'reload' %>

</head>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <%= render 'shared/sidebar' %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <%= render 'shared/topbar' %>
        <!-- End of Topbar -->
        
        <%= render 'shared/cards' %>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <%= yield %>
        </div>       

      </div>
      <!-- End of Main Content -->
      
      <!-- Footer -->
      <%= render 'shared/footer' %>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Inclua aqui os scripts JavaScript diretamente -->
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'bootstrap.bundle.min' %>
  <%= javascript_include_tag 'sb-admin-2.min' %>

</body>
</html>
